svg{
  --rect_stroke: black;
  --rect_fill: #eee;
  --line_stroke: #b2b3bd; 
  --bg:  #fff;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--bg);
}


svg{
  transform: scaleY(-1);
}
svg text{
  transform: scaleY(-1);
}

svg vertices-group{
  cursor: pointer;
}

svg factors-group circle{
  cursor: pointer;
}

svg .covariances-group ellipse.highlight{
  fill: #ece281;
}

svg .factors-group .factor.link_highlight circle{
  fill: #607d8b;
}

svg .factors-group .factor.link_highlight{
  stroke: #d16d4b;
}
svg .vertices-group .vertex.link_highlight{
  fill: #cda091;
}

svg .vertices-group text{
  /* remove some ghost hover effect when zoomed */
  pointer-events: none;
}

/******************************************/
/*                TOOLTIP                 */
/******************************************/
div.tooltip {
  /* tooltip is hidden by default */
  visibility: hidden;
  opacity: 0.95;
  position: absolute;
  /* width: 60px; */
  /* height: 28px; */
  font-family: Monospace;
  padding: 0.3rem 0.5rem;
  background: #ccc;
  border: 2px solid #444;
  border-radius: 5%;
  transform: translateX(-50%) translateY(-120%);
}

div.tooltip .tooltip-title {
  text-align: center;
  font-size: 0.9rem;
  background: #ddd;
  margin: auto;
}

div.tooltip .tooltip-field {
  text-align: left;
  font-size: 0.8rem;
}

div.tooltip .tooltip-value {
  text-align: right;
  font-size: 0.7rem;
  /* allows to interpret \n */
  white-space: pre-line;
}


